:root {
    --primary-color: #034134;
    --secondary-color: #333333;
    --text-color: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--secondary-color);
    color: var(--text-color);
}

.navbar {
    background-color: var(--primary-color);
    padding: 15px;
    text-align: center;
}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.navbar a {
    color: var(--text-color);
    text-decoration: none;
    font-size: 16px;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    text-align: center;
}

.placeholder h2 {
    color: var(--text-color);
    font-size: 2em;
    margin-bottom: 10px;
}

.placeholder p {
    color: var(--text-color);
    font-size: 1.2em;
}

.footer-div{
    background-color:#034134;
    padding: 35px;
}

.footer-div p{
    color: white;
}

.footer-div .redes{
    text-align: right;
    font-size: 30px;
}
